In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('netflix_movies_detailed_up_to_2025.csv')

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,genres,language,description,popularity,vote_count,vote_average,budget,revenue
0,10192,Movie,Shrek Forever After,Mike Mitchell,"Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...",United States of America,2010-05-16,2010,6.380,NaN,"Comedy, Adventure, Fantasy, Animation, Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449,6.380,165000000,752600867
1,27205,Movie,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...","United Kingdom, United States of America",2010-07-15,2010,8.369,NaN,"Action, Science Fiction, Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119,8.369,160000000,839030630
2,12444,Movie,Harry Potter and the Deathly Hallows: Part 1,David Yates,"Daniel Radcliffe, Emma Watson, Rupert Grint, T...","United Kingdom, United States of America",2010-11-17,2010,7.744,NaN,"Adventure, Fantasy",en,"Harry, Ron and Hermione walk away from their l...",121.191,19327,7.744,250000000,954305868
3,38757,Movie,Tangled,"Byron Howard, Nathan Greno","Mandy Moore, Zachary Levi, Donna Murphy, Ron P...",United States of America,2010-11-24,2010,7.600,NaN,"Animation, Family, Adventure",en,"Feisty teenager Rapunzel, who has long and mag...",111.762,11638,7.600,260000000,592461732
4,10191,Movie,How to Train Your Dragon,"Chris Sanders, Dean DeBlois","Jay Baruchel, Gerard Butler, Craig Ferguson, A...",United States of America,2010-03-18,2010,7.800,NaN,"Fantasy, Adventure, Animation, Family",en,As the son of a Viking leader on the cusp of m...,110.044,13259,7.800,165000000,494879471

### EDA

In [4]:
df.shape

(16000, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       16000 non-null  int64
 1   type          16000 non-null  object
 2   title         16000 non-null  object
 3   director      15868 non-null  object
 4   cast          15796 non-null  object
 5   country       15534 non-null  object
 6   date_added    16000 non-null  object
 7   release_year  16000 non-null  int64
 8   rating        16000 non-null  float64
 9   duration      0 non-null      float64
 10  genres        15893 non-null  object
 11  language      16000 non-null  object
 12  description   15868 non-null  object
 13  popularity    16000 non-null  float64
 14  vote_count    16000 non-null  int64
 15  vote_average  16000 non-null  float64
 16  budget        16000 non-null  int64
 17  revenue       16000 non-null  int64
dtypes: float64(4), int64(5), object(9)
memory usage: 2.2+ MB

In [6]:
df.describe()

,show_id,release_year,rating,duration,popularity,vote_count,vote_average,budget,revenue
count,1.600000e+04,16000.000000,16000.000000,0.0,16000.000000,16000.000000,16000.000000,1.600000e+04,1.600000e+04
mean,5.266582e+05,2017.500000,5.956368,NaN,20.384728,718.656125,5.956368,8.766792e+06,2.446308e+07
std,3.794427e+05,4.609916,1.754741,NaN,68.610033,2080.198316,1.754741,2.912450e+07,1.116977e+08
min,1.890000e+02,2010.000000,0.000000,NaN,3.860000,0.000000,0.000000,0.000000e+00,0.000000e+00
25%,2.257258e+05,2013.750000,5.600000,NaN,7.840750,53.000000,5.600000,0.000000e+00,0.000000e+00
50%,4.468170e+05,2017.500000,6.300000,NaN,10.913500,138.000000,6.300000,0.000000e+00,0.000000e+00
75%,7.739808e+05,2021.250000,6.923000,NaN,17.336500,422.000000,6.923000,2.200000e+06,1.654473e+06
max,1.440471e+06,2025.000000,10.000000,NaN,3876.006000,37119.000000,10.000000,4.600000e+08,2.799439e+09

#### Droping Unwanted columns

In [7]:
# Listing Columns to remove
un_cols = ['type','release_year','duration']
df = df.drop(columns= un_cols)

### Handling Null Values

In [8]:
df.isna().sum()

show_id           0
title             0
director        132
cast            204
country         466
date_added        0
rating            0
genres          107
language          0
description     132
popularity        0
vote_count        0
vote_average      0
budget            0
revenue           0
dtype: int64

In [9]:
na_cols = ['director','cast','genres','description']
df = df.dropna(subset=na_cols)

df.isna().sum()

show_id           0
title             0
director          0
cast              0
country         319
date_added        0
rating            0
genres            0
language          0
description       0
popularity        0
vote_count        0
vote_average      0
budget            0
revenue           0
dtype: int64

In [10]:
# Filling Country column with mode value
df['country'] = df['country'].fillna(df['country'].mode()[0])
df.isna().sum()

show_id         0
title           0
director        0
cast            0
country         0
date_added      0
rating          0
genres          0
language        0
description     0
popularity      0
vote_count      0
vote_average    0
budget          0
revenue         0
dtype: int64

In [11]:
df['popularity'] = df['popularity'].replace(0,df['popularity'].mean())
df['vote_count'] = df['vote_count'].replace(0,df['vote_count'].mean())
df['budget'] = df['budget'].replace(0,df['budget'].mean())
df['vote_average'] = df['vote_average'].replace(0,df['vote_average'].mean())
df['revenue'] = df['revenue'].replace(0,df['revenue'].mean())
df['rating'] = df['rating'].replace(0,df['rating'].mean())

In [12]:
df.head(2)

,show_id,title,director,cast,country,date_added,rating,genres,language,description,popularity,vote_count,vote_average,budget,revenue
0,10192,Shrek Forever After,Mike Mitchell,"Mike Myers, Eddie Murphy, Cameron Diaz, Antoni...",United States of America,2010-05-16,6.380,"Comedy, Adventure, Fantasy, Animation, Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449.0,6.380,165000000.0,752600867.0
1,27205,Inception,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ken W...","United Kingdom, United States of America",2010-07-15,8.369,"Action, Science Fiction, Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119.0,8.369,160000000.0,839030630.0

In [13]:
def clean(x):
    data = x.split(',')
    in_data = []
    for i in data:
        i = i.strip()
        in_data.append(i)
    return (',').join(in_data)

In [14]:
df['cast'] = df['cast'].apply(clean)
df['genres'] = df['genres'].apply(clean)
df['director'] = df['director'].apply(lambda x : x.strip())

In [15]:
df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month
df['day'] = df['date_added'].dt.day
df['date_added']= pd.to_datetime(df['date_added'])
df.head()

,show_id,title,director,cast,country,date_added,rating,genres,language,description,popularity,vote_count,vote_average,budget,revenue,year,month,day
0,10192,Shrek Forever After,Mike Mitchell,"Mike Myers,Eddie Murphy,Cameron Diaz,Antonio B...",United States of America,2010-05-16,6.380,"Comedy,Adventure,Fantasy,Animation,Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449.0,6.380,165000000.0,752600867.0,2010,5,16
1,27205,Inception,Christopher Nolan,"Leonardo DiCaprio,Joseph Gordon-Levitt,Ken Wat...","United Kingdom, United States of America",2010-07-15,8.369,"Action,Science Fiction,Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119.0,8.369,160000000.0,839030630.0,2010,7,15
2,12444,Harry Potter and the Deathly Hallows: Part 1,David Yates,"Daniel Radcliffe,Emma Watson,Rupert Grint,Toby...","United Kingdom, United States of America",2010-11-17,7.744,"Adventure,Fantasy",en,"Harry, Ron and Hermione walk away from their l...",121.191,19327.0,7.744,250000000.0,954305868.0,2010,11,17
3,38757,Tangled,"Byron Howard, Nathan Greno","Mandy Moore,Zachary Levi,Donna Murphy,Ron Perl...",United States of America,2010-11-24,7.600,"Animation,Family,Adventure",en,"Feisty teenager Rapunzel, who has long and mag...",111.762,11638.0,7.600,260000000.0,592461732.0,2010,11,24
4,10191,How to Train Your Dragon,"Chris Sanders, Dean DeBlois","Jay Baruchel,Gerard Butler,Craig Ferguson,Amer...",United States of America,2010-03-18,7.800,"Fantasy,Adventure,Animation,Family",en,As the son of a Viking leader on the cusp of m...,110.044,13259.0,7.800,165000000.0,494879471.0,2010,3,18

In [16]:
df.to_csv('cleaned.csv')

In [17]:
countries_list = []
def clean(countries) :
    coun_list = countries.split(',')
    for country in coun_list :
        country = country.strip()
        if country not in countries_list:
            countries_list.append(country)

In [18]:
df['country'].apply(clean)
len(countries_list)

133

In [19]:
unique_actors = []    
def actors(actors) :
    actors_list = actors.split(',')
    for actor in actors_list :
        actor = actor.strip()
        if actor not in unique_actors:
            unique_actors.append(actor)

In [20]:
df['cast'].apply(actors)
len(unique_actors)

34704

In [21]:
unique_gener = []    
def geners_list(gener) :
    gener_list = gener.split(',')
    for gener in gener_list :
        gener = gener.strip()
        if gener not in unique_gener:
            unique_gener.append(gener)

In [22]:
df['genres'].apply(geners_list)
len(unique_gener)

19

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15558 entries, 0 to 15999
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       15558 non-null  int64
 1   title         15558 non-null  object
 2   director      15558 non-null  object
 3   cast          15558 non-null  object
 4   country       15558 non-null  object
 5   date_added    15558 non-null  datetime64[ns]
 6   rating        15558 non-null  float64
 7   genres        15558 non-null  object
 8   language      15558 non-null  object
 9   description   15558 non-null  object
 10  popularity    15558 non-null  float64
 11  vote_count    15558 non-null  float64
 12  vote_average  15558 non-null  float64
 13  budget        15558 non-null  float64
 14  revenue       15558 non-null  float64
 15  year          15558 non-null  int32
 16  month         15558 non-null  int32
 17  day           15558 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(3), int64(1), object(7)
memory usage: 2.1+ MB

In [29]:
def collapse(x):
    data = x.split(',')
    result = []
    for i in data :
        result.append(i.strip())
    return result
        

df_geners = df.copy()
df_geners['genres'] = df_geners['genres'].apply(collapse)
df_geners_expanded = df_geners.explode('genres').reset_index(drop=True)

df_countries = df.copy()
df_countries['country'] = df_countries['country'].apply(collapse)
df_countries_expanded = df_countries.explode('country').reset_index(drop=True)
df_countries_expanded.head(2)

,show_id,title,director,cast,country,date_added,rating,genres,language,description,popularity,vote_count,vote_average,budget,revenue,year,month,day
0,10192,Shrek Forever After,Mike Mitchell,"Mike Myers,Eddie Murphy,Cameron Diaz,Antonio B...",United States of America,2010-05-16,6.380,"Comedy,Adventure,Fantasy,Animation,Family",en,A bored and domesticated Shrek pacts with deal...,203.893,7449.0,6.380,165000000.0,752600867.0,2010,5,16
1,27205,Inception,Christopher Nolan,"Leonardo DiCaprio,Joseph Gordon-Levitt,Ken Wat...",United Kingdom,2010-07-15,8.369,"Action,Science Fiction,Adventure",en,"Cobb, a skilled thief who commits corporate es...",156.242,37119.0,8.369,160000000.0,839030630.0,2010,7,15

In [30]:
import joblib
joblib.dump(unique_actors,'unique_actors.plk')
joblib.dump(df_geners_expanded,'gener_df.plk')
joblib.dump(df_countries_expanded,'country_df.plk')

['country_df.plk']

In [31]:
df.sort_values(by='date_added',ascending=False)

,show_id,title,director,cast,country,date_added,rating,genres,language,description,popularity,vote_count,vote_average,budget,revenue,year,month,day
15366,1234731,Anaconda,Tom Gormican,"Jack Black,Paul Rudd,Daniela Melchior,Thandiwe...",United States of America,2025-12-25,6.046694,"Horror,Adventure,Comedy",en,Planned reboot.,10.491,738.221622,6.046694,9.013673e+06,2.515752e+07,2025,12,25
15959,1317288,Marty Supreme,Josh Safdie,"Timoth√©e Chalamet,Gwyneth Paltrow,Tyler,The Cr...","Finland, United States of America",2025-12-25,6.046694,Drama,en,A fictional story set in the world of 1950s pi...,5.096,738.221622,6.046694,7.000000e+07,2.515752e+07,2025,12,25
15641,1368166,The Housemaid,Paul Feig,"Sydney Sweeney,Amanda Seyfried,Brandon Sklenar...",United States of America,2025-12-25,6.046694,"Thriller,Mystery",en,Millie is a struggling woman who is relieved t...,7.175,738.221622,6.046694,9.013673e+06,2.515752e+07,2025,12,25
15865,511243,The Wizard Hunter: The Hunt for Evangelion Cro...,Nico Toffoli,"Max Brown,Peter Stormare,Christopher Lambert,N...",United States of America,2025-12-18,6.046694,"Drama,Fantasy,Horror",en,A bounty hunter of lost masterpieces of any er...,5.704,738.221622,6.046694,9.013673e+06,2.515752e+07,2025,12,18
15078,83533,Avatar: Fire and Ash,James Cameron,"Sam Worthington,Zoe Salda√±a,Sigourney Weaver,S...",United States of America,2025-12-17,6.046694,"Science Fiction,Adventure,Fantasy",en,In the wake of the devastating war against the...,51.760,738.221622,6.046694,4.000000e+08,2.515752e+07,2025,12,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
874,38883,Protect and Serve,Eric Lavaine,"Kad Merad,Clovis Cornillac,Carole Bouquet,Fran...",France,2010-01-03,4.500000,"Comedy,Crime,Action",fr,A pair of bumbling French cops team up to take...,4.496,101.000000,4.500000,9.013673e+06,3.807808e+06,2010,1,3
613,333926,Online Crush,Matt Taylor,"Evie Delatosso,Tiffany Tyler,Aubrey Addams,Ken...",United States of America,2010-01-01,4.800000,Drama,en,Love is just a mouse-click away for a single g...,6.330,5.000000,4.800000,9.013673e+06,2.515752e+07,2010,1,1
848,73101,The Killing Strain,Daniel Maldonado,"Nina Leon,Venda D'Abato,Tom Lagleder,Brenda St...",United States of America,2010-01-01,3.200000,"Horror,Thriller",fr,"A man-made virus, 'The Killing Strain'-- an ou...",4.599,5.000000,3.200000,9.013673e+06,2.515752e+07,2010,1,1
443,113727,Dark Seduction,Walter Doehner,"Elizabeth Cervantes,Julio Bekhor,Marco Antonio...",Mexico,2010-01-01,6.974000,"Drama,Thriller,Romance",es,Laura is a successful plastic surgeon who feel...,8.366,97.000000,6.974000,9.013673e+06,2.515752e+07,2010,1,1
958,43615,"Lula, the Son of Brazil","F√°bio Barreto, Marcelo Santiago","Rui Ricardo Diaz,Gl√≥ria Pires,Cleo,Juliana Bar...",Brazil,2010-01-01,5.500000,"Drama,History",pt,The true story of a working class boy who move...,4.045,80.000000,5.500000,9.500000e+06,3.785593e+06,2010,1,1